html {
    width: 960px;
    text-align: center;
    position: all;
    margin: 100px;
}

body {
    width: 960px;
    height: 100%;
    text-align: center;
    position: all;
    margin: 100px;
    background-color: lightblue;
    font-family: "Verdana", sans-serif;
    border: 5px solid green;
}
